@media screen and (max-width: 1120px) {.wrapper{width:960px;}#header-top .right-col{width:100%;text-align:center;}#logo-image{width:55px;}#logo-image:before{border-left-width:70px;border-right-width:70px;margin-left:-70px;}#main-nav{width:840px;}#main-nav i,.mobile-menu-wrapper{display:none;}#main-menu,#header-bottom .social-links,.mega-menu-wrap{display:block;}#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a{color:#FFF;display:block;font-family:"Raleway",sans-serif;font-size:12px!important;line-height:1;position:relative;text-transform:uppercase;padding:8px 4px!important;height:auto;}#main-menu>li{padding:28px 15px;}#main-menu>li>a{font-size:14px;}.geo-top-section.loading{min-height:300px;}.col-a{width:630px;}.widget-area-2{width:350px;}.geo-carousel-list-1-widget .widget-content .geo-carousel-1 .owl-controls .owl-buttons div{top:85px;}.geo-article-list-1-widget ul li{width:100%;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-prev{left:215px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-next{right:215px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div{bottom:100px;}.geo-flex-1-widget .geo-flexslider-1 .slides li .entry-item .entry-thumb{width:280px;margin-right:20px;}.geo-flex-1-widget .geo-flexslider-1 .slides li .entry-item .entry-content .entry-title{font-size:16px;line-height:22px;}.geo-flex-1-widget .geo-flexslider-1 .slides li .entry-item .entry-content>p{max-height:65px;}.geo-flex-1-widget .geo-flex-carousel-1{width:270px;padding-top:15px;}.geo-flex-1-widget .geo-flex-carousel-1 .slides>li{width:60px!important;}.geo-product-list-1-widget ul li .entry-item .entry-content footer .price-box{float:none!important;margin-bottom:10px;}.geo-product-list-1-widget ul li .entry-item .entry-content footer .add-cart{float:none!important;}.geo-article-list-3-widget .widget-content ul li .entry-item .entry-content .entry-title{font-size:14px;line-height:20px;}.geo-article-list-4-widget ul li .entry-item .entry-thumb{width:80px;}.geo-flickr-widget .flickr-wrap li a{}.geo-ei-slider-widget .ei-slider-wrapper .ei-slider{height:250px;}.geo-flex-2-widget .geo-flexslider-2.loading{min-height:250px;}.widget-area-4 .geo-flex-1-widget .geo-flex-carousel-1{width:432px;}.widget-area-4 .geo-flex-1-widget .geo-flex-carousel-1 .slides li{width:100px!important;}.widget-area-4 .geo-flex-1-widget .geo-flexslider-1 .slides li .entry-item .entry-content>p{max-height:130px;}.geo-post-list-3-widget .entry-item .entry-thumb{width:280px;}.entry-box .entry-title{font-size:22px;}.related-stories .entry-title{font-size:14px;line-height:13px;margin-bottom:15px;position:relative;}.geo-search-list-widget>ul>li .entry-item .entry-thumb{width:280px;}.widget .widget-title.widget-title-s2{font-size:20px;}#logo-image p.site-title a{font-size:30px;}.geo-fullwidth-carousel .item .item-content{top:80px;}.widget.geo-article-list-1-widget img{width:100%;}.geo-hotnews-widget .geo-hotnews-carousel .owl-item .item .entry-item .entry-content .entry-title{font-size:12px;}.widget:first-child .load-more{top:5px;}.geo-boxed #geo-page-header,.geo-boxed #header-middle.fixed,.geo-boxed .geo-top-section,.geo-boxed #bottom-sidebar,.geo-boxed #geo-page-footer,.geo-boxed .widget-area-4,.geo-boxed .breadcrumb,.geo-boxed #main-content>.wrapper{width:960px;}.geo-boxed .geo-fullwidth-carousel .item .item-content .item-title{font-size:30px;line-height:34px;}.geo-boxed .geo-fullwidth-carousel .item .item-content{top:80px;}.geo-boxed .geo-top-section.loading{min-height:280px;}.geo-boxed #header-bottom{padding-right:30px;padding-left:30px;}.geo-boxed #header-bottom .wrapper{width:100%;}.geo-boxed .col-a{width:570px;}.geo-boxed .widget-area-2{width:320px;}.geo-boxed .widget-area-3{width:220px;}.geo-boxed .geo-flex-1-widget .geo-flex-carousel-1{width:210px;}.geo-boxed .geo-flex-1-widget .geo-flex-carousel-1 .slides{transform:none!important;}.geo-boxed .geo-flex-1-widget .geo-flex-carousel-1 .slides>li{width:45px!important;}.geo-boxed .widget-area-4 .geo-flex-1-widget .geo-flex-carousel-1{width:370px;}.geo-boxed .widget-area-4 .geo-flex-1-widget .geo-flex-carousel-1 .slides>li{width:85px!important;}.geo-hotnews-widget .geo-hotnews-carousel .owl-item .item .entry-item .entry-content{min-height:160px;}.detail-img{width:100%;float:left;margin-left:5px;margin-bottom:0;}.detail-right{width:110px;}#related-articles>ul>li .entry-item .entry-thumb{margin-right:15px;width:140px;position:relative;}.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item{width:13.5%;float:left;margin-right:8px;border-right:1px solid #ddd;}.top-story #related-stories{margin:0;padding-bottom:0px;float:left;width:100%;padding:5px;}.top-story .top-story-avatar .social-links{display:none;}.pakistan-post{float:left;width:48%;padding:0;margin-left:10px!important;}.pakistan-post .entry-thumb{width:77px;margin-right:10px;}.related-stories{margin:20px 0 20px 20px;padding:5px;float:right;width:40%;}.top-story .related-stories{margin:20px 0 20px 20px;padding:5px;float:right;width:100%;}.story_left_section{padding:0 0;}#related-articles>ul>li .entry-item .entry-content .entry-title{font-size:14px;line-height:20px;margin:0 0 10px;min-height:60px;}.pakistan-post li:last-child{display:none;}.pakistan-post .entry-content{float:left;width:64%;}.latest-show{width:100%;float:left;margin-right:0px;margin-bottom:20px;}.widget-area-live{width:100%;margin-right:0px;margin-top:0px;}.widget-area-live #geo_widget_post_list_carousel-2 .older-post li:first-child{width:30%;float:left;margin-right:3%;}.widget-area-live #geo_widget_post_list_carousel-2 .older-post li:nth-child(2){width:67%;float:left;margin-right:0%;}.geo-post-list-1-widget .shows_more_video{width:33%;margin:0!important;float:left;}.geo-daily-widget .geo-daily-carousel .owl-controls .owl-buttons div{display:block;margin-top:-90px;position:relative;margin-left:-21px;}.geo-daily-widget .geo-daily-carousel .owl-controls .owl-buttons div.owl-next{float:right;margin-right:-21px;}.rss-list-cat{padding:10px;float:left;width:54%;}}@media screen and (max-width: 1023px) {.wrapper{width:940px;}#header-top .right-col{width:655px;}#logo-image{width:49px;}#main-nav{width:826px;}.geo-top-section.loading{min-height:287px;}.col-a{width:610px;}.widget-area-2{width:330px;}.geo-ads-1-widget{padding:20px!important;}.geo-ads-1-widget img{width:100%;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-prev{left:208px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-next{right:209px;}.geo-flex-1-widget .geo-flexslider-1 .slides li .entry-item .entry-thumb{width:260px;}.geo-flex-1-widget .geo-flexslider-1 .slides li .entry-item .entry-content .entry-title{margin-bottom:5px;}.geo-flex-1-widget .geo-flexslider-1 .slides li .entry-item .entry-content>p{line-height:18px;max-height:55px;}.widget .widget-title.widget-title-s2{font-size:22px;}.widget .load-more{font-size:11px;top:35px;}.widget:first-child .load-more{top:4px;}.geo-ei-slider-widget .ei-slider-wrapper .ei-slider{height:236px;}.geo-ei-slider-widget .ei-slider-wrapper .ei-slider .ei-slider-large li .ei-title{bottom:20px;left:20px;}.geo-ei-slider-widget .ei-slider-wrapper .ei-slider .ei-slider-large li .ei-title h2{font-size:22px;padding:10px 15px;}.geo-flex-2-widget .geo-flexslider-2.loading{min-height:236px;}.geo-post-list-1-widget .row>div{margin-top:25px;}.geoCatDiv{margin:0!important;}.geo-post-list-1-widget .row>div:first-child{margin-top:0px;}.widget-area-4 .geo-flex-1-widget .geo-flexslider-1 .slides li .entry-item .entry-thumb{width:428px;}.geo-newsletter-widget .newsletter-form p input[type="submit"]{padding:0 15px;}.geo-post-list-1-widget .entry-item .entry-thumb{float:left;margin:0 30px 0 0;width:100%;}.geo-post-list-1-widget .entry-item .entry-content{}.geo-post-list-2-widget .row>div{width:50%;float:left;}.geo-post-list-1-widget .row{margin-top:25px;}.woocommerce ul.products,.woocommerce-page ul.products{margin:0 -10px;}.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{padding:0 10px;}.geo-boxed #geo-page-header,.geo-boxed #header-middle.fixed,.geo-boxed .geo-top-section,.geo-boxed #bottom-sidebar,.geo-boxed #geo-page-footer,.geo-boxed .widget-area-4,.geo-boxed .breadcrumb,.geo-boxed #main-content>.wrapper{width:940px;}.geo-boxed .geo-top-section.loading{min-height:274px;}.geo-boxed .col-a{width:550px;}.geo-boxed .widget-area-2{width:300px;}.geo-hotnews-widget .geo-hotnews-carousel .owl-item .item .entry-item .entry-content{min-height:160px;}#related-articles>ul>li{float:left;margin:30px 0 0;list-style:none;width:100%;padding-left:0px!important;padding-right:0px!important;}.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item .entry-item .entry-title{font-size:13px;line-height:18px;margin:0;min-height:100px;}.top-story-name{font-size:12px;font-weight:800;text-transform:uppercase;}#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a{color:#FFF;display:block;font-family:"Raleway",sans-serif;font-size:12px!important;line-height:1;position:relative;text-transform:uppercase;padding:8px 3px!important;height:auto;}.pakistan-post li:last-child{display:block;}.pakistan-post li{margin-bottom:13px;display:inline-block;}.pakistan-post li:last-child{display:none;}.rss-list-cat{padding:10px;float:left;width:51%;}}@media screen and (max-width: 991px) {.pakistan{padding:0;width:47%;float:left;}}@media screen and (max-width: 979px) {.wrapper{width:760px;}#header-top,#logo-image:before{display:block;}#logo-image{width:100%;text-align:center;padding:15px;float:left!important;}#header-middle{border-bottom:none;}#main-nav{width:505px;padding:0;margin:0;text-align:left;position:absolute;}#main-menu,#header-bottom .social-links{display:none;}#main-nav i,.mobile-menu-wrapper{display:inline-block;}#header-bottom .social-links{display:block;width:160px;}#main-menu,.mega-menu-wrap{display:none;}.geo-top-section.loading{min-height:234px;}.geo-hotnews-widget .geo-hotnews-carousel .owl-item .item .entry-item .entry-content .entry-title{font-size:12px;line-height:18px;}.col-a{width:100%;}.pakistan{padding:0;width:47%;float:left;}.pakistan-post{float:left;width:48%;padding:0;margin-left:31px!important;}.widget-area-2{width:100%;}.geo-carousel-list-1-widget .widget-content .geo-carousel-1 .owl-controls .owl-buttons div{top:100px;}.geo-article-list-1-widget ul li{width:50%;}.geo-article-list-1-widget ul li .entry-item .entry-content{padding:10px 15px;}.widget-area-3{margin-right:0;width:100%;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-item .item .entry-item .entry-content{margin-bottom:15px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-item .item .entry-item .entry-content .entry-title{font-size:12px;line-height:18px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-next{right:149px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-prev{left:148px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div{bottom:80px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-item .item .entry-item{padding-top:10px;}.geo-flex-1-widget .geo-flexslider-1 .slides li .entry-item .entry-thumb{width:100%;margin-right:0;margin-bottom:15px;float:none;}.geo-flex-1-widget .geo-flexslider-1 .slides li .entry-item .entry-content{overflow:visible;}.geo-flex-1-widget .geo-flex-wrapper{padding-bottom:0px;}.geo-flex-1-widget .geo-flex-carousel-1{width:100%;right:0;padding-right:30px;padding-left:30px;}.geo-flex-1-widget .geo-flex-carousel-1 .slides>li{width:85px!important;}.widget-area-6,.widget-area-7,.widget-area-8{width:100%;clear:both;}.cat{width:33.3%;clear:none;float:left;}.geo-product-list-1-widget ul{margin:-20px -10px 0;}.geo-product-list-1-widget ul li{padding:0 10px;}.geo-article-list-3-widget .widget-content ul li .entry-item .entry-content{padding:5px 10px;}.geo-article-list-3-widget .widget-content ul li .entry-item .entry-content header{display:none;}.geo-article-list-4-widget ul li .entry-item .entry-thumb{width:60px;}.geo-ei-slider-widget .ei-slider-wrapper .ei-slider{height:307px;}.geo-flickr-widget .flickr-wrap li a{height:55px;}.geo-post-list-2-widget .row>div{margin-top:25px;}.geo-post-list-2-widget .row>div:first-child{margin-top:0;}.widget-area-4 .geo-flex-1-widget .geo-flexslider-1 .slides li .entry-item .entry-thumb{width:100%;}.widget-area-4 .geo-flex-1-widget .geo-flex-carousel-1{width:100%;}.geo-flex-1-widget .geo-flexslider-1 .slides li .entry-item .entry-content{margin-bottom:15px;}.geo-post-list-3-widget .entry-item .entry-thumb{width:220px;margin-right:20px;}.geo-post-list-3-widget .entry-item .entry-content .entry-title{font-size:14px;line-height:20px;}blockquote:before{font-size:24px;}blockquote.pull-right{padding-left:55px;}.entry-box .entry-box-footer .prev-article-item .entry-item .entry-content .entry-title,.entry-box .entry-box-footer .next-article-item .entry-item .entry-content .entry-title{font-size:12px;line-height:18px;}.entry-box .entry-box-footer .prev-article-item .entry-item .entry-content,.entry-box .entry-box-footer .next-article-item .entry-item .entry-content{padding:10px 15px;}.woocommerce ul.products,.woocommerce-page ul.products{margin:0 -10px;}.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{padding:0 10px;width:50%;}.woocommerce div.product div.summary,.woocommerce-page div.product div.summary{padding-left:20px;}.geo-search-list-widget>ul>li .entry-item .entry-thumb{width:220px;margin-right:20px;}.geo-search-list-widget>ul>li .entry-item .entry-content header .entry-title{font-size:14px;line-height:20px;}#secondary-menu li a{font-size:13px;}.geo-product-list-1-widget ul li .entry-item .entry-content footer .add-cart{text-transform:none;}.geo-fullwidth-carousel .item .item-content{top:60px;}.geo-fullwidth-carousel .item .item-content .item-title{font-size:30px;line-height:34px;}.widget-area-2{margin-bottom:30px;}.geo-article-list-3-widget .widget-content .last-item .entry-title{font-size:26px;line-height:30px;}.geo-article-list-1-widget ul li{width:100%;}.geo-search-list-widget>ul>li .entry-item .entry-thumb{width:200px;margin-bottom:20px;}.geo-post-list-1-widget .entry-item .entry-thumb{float:none;width:100%;margin:0 0 15px;}.geo-post-list-2-widget .row>div{margin-top:0;}.geo-post-list-3-widget .entry-item .entry-thumb{width:100%;margin-bottom:15px;margin-right:0;}.geo-hotnews-widget .geo-hotnews-carousel .owl-item .item .entry-item .entry-content .entry-title{font-size:11px;line-height:17px;}.woocommerce ul.products li.first,.woocommerce-page ul.products li.first{clear:none;}.geo-boxed #geo-page-header,.geo-boxed #header-middle.fixed,.geo-boxed .geo-top-section,.geo-boxed #bottom-sidebar,.geo-boxed #geo-page-footer,.geo-boxed .widget-area-4,.geo-boxed .breadcrumb,.geo-boxed #main-content>.wrapper{width:760px;}.geo-boxed .geo-top-section.loading{min-height:220px;}.geo-boxed .widget-area-1 .geo-hotnews-widget{margin-top:0;}.geo-boxed #header-bottom{display:none;}.geo-boxed .geo-fullwidth-carousel .item .item-content{top:40px;}.geo-boxed .col-a{width:100%;margin-right:0;}.geo-boxed .widget-area-3{width:250px;margin-right:30px;}.geo-boxed .widget-area-2{width:420px;}.geo-boxed .sidebar{width:100%;margin-bottom:30px;}.geo-boxed .geo-flex-1-widget .geo-flex-carousel-1,.geo-boxed .widget-area-4 .geo-flex-1-widget .geo-flex-carousel-1{width:100%;}.geo-boxed .geo-flex-1-widget .geo-flex-carousel-1 .slides>li,.geo-boxed .widget-area-4 .geo-flex-1-widget .geo-flex-carousel-1 .slides>li{width:90px!important;}.geo-article-list-3-widget .widget-content .last-item{width:100%;}.geo-article-list-3-widget .widget-content ul{width:100%;}.geo-hotnews-widget .geo-hotnews-carousel .owl-item .item .entry-item .entry-content{min-height:180px;}.detail-right{width:120px;margin-right:10px;}.detail-img{width:100%;float:left;margin-left:10px;margin-bottom:0;}#related-stories{margin:20px 0 20px 20px;padding-bottom:0px;float:right;width:50%;}.top-story .top-story-avatar{margin-right:0;width:100%;}.top-story .top-story-content{float:left;width:100%;margin-top:10px;padding:5px;}.top-story-description{width:49%;float:left;margin-right:10px;}.top-story .top-story-content #related-stories{margin:0;padding-bottom:0px;float:left;width:48%;padding-right:5px;}.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(7){display:none;}.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item{width:15.5%;float:left;margin-right:10px;border-right:1px solid #ddd;}.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(6){width:15.5%;float:left;margin-right:0;border-right:1px solid #ddd;}.top-story #related-stories{margin:0;padding-bottom:0px;float:left;width:48%;padding:5px;display:none;}.top-story-description{width:100%;float:left;margin-right:10px;padding:5px;}top-story{margin-bottom:30px;padding-bottom:0;background-color:#edecec;}.categories .row{width:100%;margin-left:0;margin-right:0;}.sidebar{width:100%;}.mrec{margin:30px 0px 0px 0px;width:100%;text-align:center;float:right;}.entry-box{margin-bottom:30px;}#related-articles{margin-bottom:0px;padding-bottom:0px;border-bottom:2px solid #f2f2f2;}.pakistan-post li:last-child{display:block;}.inner_cat_tab .tab-content .entry-thumb{width:20%;margin-right:4%;}.inner_cat_tab .tab-content .entry-content{float:left;width:76%;}.geoCatDiv{width:50%;float:left;margin:0!important;}.rss-list-cat{padding:10px;float:left;width:61%;}}@media screen and (max-width: 799px) {.wrapper{width:720px;}#main-nav{width:465px;}.geo-top-section.loading{min-height:225px;}.col-a,.sidebar{width:100%;margin-right:0;}.geo-flex-1-widget .geo-flex-carousel-1 .slides>li{width:75px!important;}.geo-flex-1-widget .geo-flex-wrapper{padding-bottom:50px;}.geo-flickr-widget .flickr-wrap li a{height:51px;}.geo-ei-slider-widget .ei-slider-wrapper .ei-slider{height:279px;}.widget-area-4 .geo-flex-1-widget .geo-flex-wrapper{padding-bottom:125px;}.geo-post-list-3-widget .entry-item .entry-thumb{width:180px;}.geo-search-list-widget>ul>li .entry-item .entry-thumb{width:180px;}#secondary-menu li a{padding:0 8px;}.geo-post-list-3-widget .entry-item .entry-thumb{margin-right:20px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-prev{left:250px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-next{right:230px;}.woocommerce a.add_to_cart_button i,.woocommerce-page a.add_to_cart_button i{width:30px;font-size:12px;}.geo-social-widget .newsletter-form input[type="submit"]{padding:0 10px;}.geo-boxed #geo-page-header,.geo-boxed #header-middle.fixed,.geo-boxed .geo-top-section,.geo-boxed #bottom-sidebar,.geo-boxed #geo-page-footer,.geo-boxed .widget-area-4,.geo-boxed .breadcrumb,.geo-boxed #main-content>.wrapper{width:720px;}.geo-boxed .geo-top-section.loading{min-height:210px;}.geo-boxed .geo-fullwidth-carousel .item .item-content{top:50px;}.geo-boxed #main-content .widget-area-1 .geo-hotnews-widget{margin-top:-30px;}.geo-boxed .widget-area-2{width:380px;}.geo-boxed .geo-flex-1-widget .geo-flex-wrapper{padding-bottom:115px;}.geo-article-list-3-widget .widget-content .last-item{width:100%;}.geo-article-list-3-widget .widget-content ul{width:100%;}.geo-hotnews-widget .geo-hotnews-carousel .owl-item .item .entry-item .entry-content{min-height:90px;}.on-air{width:100%;}.widget-area-live{width:100%;}#header-bottom .social-links{display:block;width:145px;}.detail-img{width:100%;float:left;margin-left:10px;margin-bottom:0;}.pakistan{padding:0;width:100%;float:left;}.pakistan-post{float:left;width:100%;padding:0;margin-left:0px!important;margin-top:20px!important;}.rss-list-cat{padding:10px;float:left;width:60%;}}@media screen and (max-width: 767px) {.wrapper_twitter_widget{width:90%;}body{padding:0;}.wrapper{width:600px;}#main-nav{text-align:left;}#header-bottom .social-links{display:block;width:100%;margin:0px;}#secondary-menu li a{padding:0 5px;}.geo-top-section.loading{min-height:187px;}.widget .widget-title.widget-title-s1 h4{font-size:16px;line-height:20px;}.widget .widget-title.widget-title-s1 i{font-size:18px;}.widget-area-1 .geo-hotnews-widget{margin-top:-42px;}.col-a,.sidebar{width:100%;margin-right:0;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-prev{left:205px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-next{right:205px;}.geo-article-list-3-widget .widget-content ul{padding:5px;}.geo-article-list-3-widget .widget-content ul li{padding:5px;}#bottom-sidebar{border-top:none;}#bottom-sidebar .row>div{margin-top:30px;}#bottom-sidebar .row>div:first-child{margin-top:0px;}.widget .widget-title.widget-title-s5 h2:before{width:1000%;}.geo-flickr-widget .flickr-wrap li{width:100%;}.geo-flickr-widget .flickr-wrap li a{height:20px;}.geo-ei-slider-widget .ei-slider-wrapper .ei-slider{height:429px;}.geo-error-404 .col-md-5 h2{text-align:center;margin-bottom:15px;}.geo-error-404 .col-md-7{text-align:center;}#header-bottom{display:block;}#header-bottom .social-links{display:block;width:100%;}.geo-fullwidth-carousel .item .item-content{top:30px;}.geo-fullwidth-carousel .item .item-content .item-title{font-size:26px;line-height:30px;}.geo-article-list-1-widget ul li{width:50%;}.geo-article-list-3-widget .widget-content .last-item{padding-left:10px;padding-right:10px;}.geo-article-list-3-widget .widget-content .last-item .entry-title{font-size:18px;line-height:22px;}.widget-area-9{margin-bottom:30px;}.geo-boxed #geo-page-header,.geo-boxed #header-middle.fixed,.geo-boxed .geo-top-section,.geo-boxed #bottom-sidebar,.geo-boxed #geo-page-footer,.geo-boxed .widget-area-4,.geo-boxed .breadcrumb,.geo-boxed #main-content>.wrapper{width:600px;}.geo-boxed .geo-fullwidth-carousel .item .item-content .item-title{font-size:26px;line-height:30px;}.geo-boxed .geo-top-section.loading{min-height:175px;}.geo-boxed .geo-fullwidth-carousel .item .item-content{top:30px;padding-left:20px;padding-right:20px;}.geo-boxed .widget-area-1 .geo-hotnews-widget{margin-top:0;}.geo-boxed #bottom-sidebar,.geo-boxed #geo-page-footer,.geo-boxed .breadcrumb{padding-left:20px;padding-right:20px;}.geo-boxed .col-a{margin-bottom:30px;}.geo-boxed .widget-area-2{width:100%;}.geo-boxed .widget-area-3{width:100%;margin-right:0;}.geo-article-list-3-widget .widget-content .last-item{width:100%;}.geo-article-list-3-widget .widget-content ul{width:100%;}.ed-ch{margin-top:50px;}.detail-img{width:100%;float:left;margin-left:10px;margin-bottom:0;}.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item{width:32%;float:left;margin-right:10px;border-right:1px solid #ddd;margin-bottom:20px;}.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(3){width:32%;float:left;margin-right:0;border-right:1px solid #ddd;}.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(6){width:32%;float:left;margin-right:0;border-right:1px solid #ddd;}.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item .entry-item .entry-title{font-size:13px;line-height:18px;margin:0;min-height:60px;}.sidebarCat{padding-left:0px;padding-right:0px;margin-bottom:40px;}.rss-list-cat{padding:10px;float:left;width:51%;}}@media screen and (max-width: 639px) {.wrapper{width:440px;}#main-nav{width:185px;}.hotTopicsPanel #secondary-menu{display:block;}#secondary-menu{display:none;}.geo-top-section.loading{min-height:141px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-next{right:151px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-prev{left:152px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div{bottom:62px;}.geo-article-list-3-widget .widget-content ul{width:100%;}.geo-flickr-widget .flickr-wrap li a{height:20px;}.geo-flex-2-widget .geo-flexslider-2.loading{min-height:314px;}.geo-ei-slider-widget .ei-slider-wrapper .ei-slider{height:314px;}.widget-area-4 .geo-flex-1-widget .geo-flex-carousel-1 .slides li{width:88px!important;}.widget-area-4 .geo-flex-1-widget .geo-flex-wrapper{padding-bottom:110px;}#geo-page-footer #copyright{float:none;text-align:center;}.geo-fullwidth-carousel .item .item-content header{display:none;}.geo-fullwidth-carousel .item .item-content .item-title{font-size:18px;line-height:22px;}.widget-area-3{margin-bottom:30px;}.geo-article-list-3-widget .widget-content .last-item{padding-top:10px;width:100%;}.geo-boxed #geo-page-header,.geo-boxed #header-middle.fixed,.geo-boxed .geo-top-section,.geo-boxed #bottom-sidebar,.geo-boxed #geo-page-footer,.geo-boxed .widget-area-4,.geo-boxed .breadcrumb,.geo-boxed #main-content>.wrapper{width:440px;}.geo-boxed .geo-fullwidth-carousel .item .item-content .item-title{font-size:18px;line-height:22px;}.geo-boxed .geo-top-section.loading{min-height:125px;}.geo-boxed .geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-prev{left:120px;}.geo-boxed .geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-next{right:121px;}.geo-boxed .geo-flex-1-widget .geo-flex-carousel-1 .slides>li,.geo-boxed .widget-area-4 .geo-flex-1-widget .geo-flex-carousel-1 .slides>li{width:73px!important;}.geo-boxed .geo-flickr-widget .flickr-wrap li a{height:78px;}.geo-boxed .geo-flex-2-widget .geo-flexslider-2.loading{min-height:270px;}.new_block_category .item{width:100%;float:left;margin:10px 0;}.detail_geo_cat{width:20%;float:left;display:none;}.detail-img{width:100%;float:left;margin-left:10px;margin-bottom:0;}.detail-right-high-list{float:left;border-bottom:1px solid #ddd;margin-bottom:10px;padding:0 0 10px 5px;line-height:15px;clear:both;}.detail-right-high{float:left;margin-left:0px;}.detail-right{width:100%;}h1{font-size:30px;line-height:40px;}.cat{width:100%;clear:none;float:left;padding:0;}.second_section_home .row,.fourth_section_home .row{margin-left:0;margin-right:0;}.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item{width:31%;float:left;margin-right:10px;border-right:1px solid #ddd;margin-bottom:20px;}.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(3){width:31%;float:left;margin-right:0;border-right:1px solid #ddd;}.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(6){width:31%;float:left;margin-right:0;border-right:1px solid #ddd;}.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(4){width:31%;float:left;margin-right:0;border-right:1px solid #ddd;clear:both;}.cat{margin-bottom:25px;border-right:none;}.col-md-4{border-left:none;}.geo-article-list-2-widget .last-item .entry-content .entry-title{min-height:40px;}.widget-area-live #geo_widget_post_list_carousel-2 .older-post li:first-child{width:100%;float:left;margin-right:0;text-align:center;}.widget-area-live #geo_widget_post_list_carousel-2 .older-post li:nth-child(2){width:100%;float:left;margin-right:0%;}.geo-post-list-1-widget .shows_more_video{width:100%;margin:0!important;float:left;}.top-banner{width:100%!important;text-align:left!important;color:#fff!important;float:left!important;}.proglogo{width:100%;float:left;}.geo-daily-widget .geo-daily-carousel .owl-controls .owl-buttons div{display:block;margin-top:-300px;position:relative;margin-left:-21px;}.rss-list{padding:10px;border-bottom:0;position:absolute;top:72px;right:0;width:100%;text-align:right;}.rss-list ul li{line-height:42px;border-bottom:1px solid #5F5F5F;}.rss-list-cat{padding:10px;float:left;width:100%;}.rss-list-cat ul li{line-height:42px;border-bottom:1px solid #E8DECC;margin-top:9px;}}@media screen and (max-width: 479px) {.detail_head h1{font-size:18px;line-height:25px;margin-top:10px;}#header-top .right-col{width:100%;}.entry-full-content .related-stories{display:none;}.detail-img{margin-left:0;}.social-box ul li.whatsapp-icon a{display:inline-block;}.wrapper{width:320px;}#logo-image{width:100%;text-align:center;padding:15px;float:left!important;}.geo-article-list-3-widget .widget-content ul li .entry-item .entry-content .entry-title{font-size:14px;line-height:20px;min-height:0;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-next{right:5px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div.owl-prev{left:5px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-controls .owl-buttons div{bottom:135px;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-item .item .entry-item{background-color:#f2f2f2;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-item .item .entry-item .entry-content{opacity:1;filter:Alpha(Opacity=100);}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-item .item .entry-item .entry-thumb .mask{opacity:0;filter:Alpha(Opacity=0);}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-item .item .entry-item .entry-content .entry-title a{color:#000;}.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-item .item .entry-item .entry-content header .entry-date,.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-item .item .entry-item .entry-content header .entry-author,.geo-carousel-list-2-widget .geo-carousel-wrapper .geo-carousel-2 .owl-item .item .entry-item .entry-content header .entry-meta{color:#555;}.geo-flex-1-widget .geo-flex-wrapper{padding:20px 20px 85px;}.geo-flex-1-widget .geo-flexslider-1 .slides li .entry-item .entry-content .entry-title{font-size:14px;line-height:20px;}.geo-flex-1-widget .geo-flex-carousel-1 .slides>li{width:57px!important;}.geo-flex-1-widget .geo-flex-carousel-1{padding-left:20px;padding-right:20px;}.geo-article-list-3-widget .widget-content ul li{width:100%;}.sb-search{height:44px;min-width:44px;}.sb-search input[type="text"]{height:44px;padding:5px 44px 5px 5px;}.sb-search input[type="submit"]{width:44px;}.sb-icon-search,.sb-search-submit{height:44px;line-height:44px;width:44px;}.sb-search-wrapper{width:300px;top:83px;}#main-nav{padding:0;margin:0;width:100px;text-align:left;position:absolute;}#main-nav i{margin:15px 0;}#mobile-menu{left:0;top:60px;}.geo-top-section.loading{min-height:94px;}.widget-area-1 .geo-hotnews-widget{margin-top:0;}.geo-hotnews-widget .geo-hotnews-carousel{margin-top:-4px;}.geo-article-list-1-widget ul li,.geo-product-list-1-widget ul li{width:100%;}.geo-product-list-1-widget ul li .entry-item .entry-content footer{padding-top:10px;}.geo-product-list-1-widget ul li{margin-top:30px;}.geo-flickr-widget .flickr-wrap li a{height:20px;}#geo-page-footer #copyright{float:none!important;width:100%;margin-bottom:10px;text-align:center;}#back-top{float:none!important;width:100%;text-align:center;}.geo-flex-2-widget .geo-flexslider-2.loading{min-height:214px;}.geo-ei-slider-widget .ei-slider-wrapper .ei-slider{height:214px;}.widget-area-4 .geo-flex-1-widget .geo-flex-carousel-1 .slides li{width:58px!important;}.widget-area-4 .geo-flex-1-widget .geo-flex-wrapper{padding-bottom:85px;}.geo-post-list-3-widget .entry-item .entry-thumb{float:none;width:100%;margin:0 0 10px 0;}.ss-left{padding-right:15px;}.ss-right{padding-left:15px;}.entry-box .entry-title{font-size:18px;line-height:24px;}blockquote.pull-right{width:100%;margin-left:0;}.about-author .author-avatar{width:55px;}.entry-box .entry-box-footer .prev-article-item,.entry-box .entry-box-footer .next-article-item{width:100%;}#related-articles>ul>li .entry-item .entry-thumb{width:30%;margin:0 0 10px 0;float:left!important;}#related-articles>ul>li .entry-item .entry-content{overflow:visible;width:66%;float:left;margin-left:10px;}#related-articles>ul>li .entry-item .entry-content header{padding-left:1px;margin-bottom:5px;display:none;}#related-articles>ul>li .entry-item .entry-content p{font-size:13px;display:none;}#comments .comments-list .children{padding-left:0;}.nav-tabs.geo-tabs-1>li a{font-size:14px;}.elements-box .elements-title{margin-bottom:10px;}.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{width:100%;}.woocommerce div.product div.images,.woocommerce-page div.product div.images{width:100%;margin-bottom:20px;}.woocommerce div.product div.summary,.woocommerce-page div.product div.summary{width:100%;padding-left:0;}.geo-search-list-widget>ul>li .entry-item .entry-thumb{width:100%;float:none;margin:0 0 10px;}.row{margin-left:-10px;margin-right:-10px;}	> div {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
  .nav-tabs.geo-tabs-1 > li a {
    font-size: 13px;
  }


  .geo-fullwidth-carousel .item .item-content .item-title {
    font-size: 14px;
    line-height: 18px;
  }
  #logo-image {
    padding: 5px;
  }
  #logo-image img {
   /* width: 80px;*/
  }
  .sb-search-wrapper {
    top: -65px;
	position: relative
  }
  .widget-area-1 .geo-hotnews-widget {
    margin-top: -1px;
  }
  .widget .widget-title.widget-title-s1 {
    padding: 10px 15px;
  }
  .geo-carousel-list-1-widget .widget-content .geo-carousel-1 .owl-controls .owl-buttons div {
    top: 70px;
  }
  .geo-carousel-list-1-widget .widget-content .geo-carousel-1 .item .entry-item .entry-content .entry-title {
    font-size: 16px;
    line-height: 20px;
  }
  .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    float: left;
  }
  .woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
    margin-bottom: 25px;
  }
  .entry-box .entry-box-footer .next-article-item {
    text-align: left;
  }
  #related-articles > ul > li {
    margin-top: 10px;
  }
  #related-articles > ul {
    margin-top: -10px;
  }
  .pagination .page-numbers li a,
  .pagination .page-numbers li span {
    padding: 0 5px;
  }
  .geo-post-list-2-widget .row > div {
    float: none;
    width: 100%;
    margin-top: 30px;
  }
  #related-articles {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}
/*#header-top, #logo-image:before {
    display: block;
}*/
.top-story .related-stories {
    margin: 20px 0 20px 20px;
    padding: 5px;
    /* border-bottom: 2px solid #f2f2f2; */
    float: right;
    width: 100%;
}
.widget {
    margin-bottom: 10px;
    position: relative;
    /* border-top: 2px solid #f2f2f2; */
    padding-top: 10px;
}
.geo-tab-container-1 .tab-content .tab-pane ul li {
    float: none;
    margin: 0 0 10px 0;
    list-style: none;
    padding: 10px 0 0 0;

}
  .geo-post-list-3-widget .row {
    margin-top: 15px;
  }

  .contact-form.commentsblock div input[type="text"], .contact-form.commentsblock div input[type="email"] {
    width: 100%;
  }
  .woocommerce .related ul li.product, 
  .woocommerce .related ul.products li.product, 
  .woocommerce .upsells.products ul li.product, 
  .woocommerce .upsells.products ul.products li.product, 
  .woocommerce-page .related ul li.product, 
  .woocommerce-page .related ul.products li.product, 
  .woocommerce-page .upsells.products ul li.product, 
  .woocommerce-page .upsells.products ul.products li.product {
    width: 100%;
  }
  .woocommerce table.shop_table th,
  .woocommerce table.shop_table td {
    padding: 5px;
  }
  #header-middle.fixed {
    position: relative;
	height: 70px;
  }



  .geo-boxed #geo-page-header,
  .geo-boxed #header-middle.fixed,
  .geo-boxed .geo-top-section, 
  .geo-boxed #bottom-sidebar, 
  .geo-boxed #geo-page-footer, 
  .geo-boxed .widget-area-4, 
  .geo-boxed .breadcrumb,
  .geo-boxed #main-content > .wrapper {
    width: 300px;
  }
  .geo-boxed .geo-fullwidth-carousel .item .item-content .item-title {
    font-size: 14px;
    line-height: 18px;
  }
  .geo-boxed .geo-top-section.loading {
    min-height: 88px;
  }
  .geo-boxed #bottom-sidebar,
  .geo-boxed #geo-page-footer {
    padding-left: 0;
    padding-right: 0;
  }
  .geo-boxed .breadcrumb {
    padding-left: 10px;
    padding-right: 10px;
  }
  .geo-boxed #main-content > .wrapper {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .geo-boxed #main-content .widget-area-1 .geo-hotnews-widget {
    margin-top: 0;
  }
  .geo-boxed .geo-flex-1-widget .geo-flex-carousel-1 .slides > li, 
  .geo-boxed .widget-area-4 .geo-flex-1-widget .geo-flex-carousel-1 .slides > li {
    width: 47px !important;
  }
  .geo-boxed .geo-flex-1-widget .geo-flex-wrapper {
    padding-bottom: 80px;
  }
  .geo-boxed .geo-flex-2-widget .geo-flexslider-2.loading {
    min-height: 185px;
  }
  .geo-article-list-3-widget .widget-content ul li {
    float: left;
    margin: 0;
    list-style: none;
    padding: 15px;
    width: 100%;
}
.ed-ch {
    margin-top: 20px;
}
.latest-show {
    width: 100%;
    float: left;
    margin-right: 20px;
}
.proglogo {
    width: 100%;
 
}
.schdule_page .list-timeline .posts time  {
 	font-size:11px;
	width: 20%;
}
.schudule_status{
	font-size:11px;
	padding:19px;
	width:80%;
}
.owl-carousel .owl-item {
    float: left;
    margin-left: 0px;
}
.detail_geo_cat {
    width: 30%;
    float: left;
}
.detail-geo {
    text-align: center;
    display: none;
}
.detail-right-cat {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ddd;
}
.detail-right-high {
    float: left;
    margin-left: 0px;
}
.detail-right {
    width:100%;
}
.social-box ul li {
    float: left;
    margin: 5px 0 0 0px;
    list-style: none;
    width: auto;
    padding: 0 2px;
    display: inline-block;
}
.social_box_new ul li {
    width: auto !important;
    float: none !important;
    margin: 0px 0 0 0px !important;
}
.top-story-description {
    width: 100%;
    float: left;
    margin-right: 10px;
}
.top-story .top-story-content #related-stories {
    margin: 0;
    padding-bottom: 0px;
    float: left;
    width: 100%;
    padding-right: 5px;
}
.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item {
    width: 50%;
    float: left;
    margin-right: 0px;
    padding-right: 3%;
    border-right: 1px solid #ddd;
    margin-bottom: 20px;
}
.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(2) {
    width: 50%;
    float: left;
    margin-right: 0;
    border-right: 0;
    padding-left: 3%;
    padding-right: 0;
	
}
.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(3) {
    width: 50%;
    float: left;
    margin-right: 0px;
    padding-right: 3%;
    border-right: 1px solid #ddd;
    margin-bottom: 20px;
	
}
.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(6) {
    width: 50%;
    float: left;
    margin-right: 0;
    border-right: 0;
    padding-left: 3%;
    padding-right: 0;
}
.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(4) {
    clear:none;
    width: 50%;
    float: left;
    margin-right: 0;
    border-right: 0;
    padding-left: 3%;
    padding-right: 0;
}
ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item .entry-item .entry-title {
    font-size: 13px;
    line-height: 18px;
    /* text-transform: uppercase; */
    margin: 0;
    min-height: 75px;
}
.top-story > h1 {
    margin-bottom: 0;
    background-color: #ededed;
    padding: 15px;
    font-size: 20px;
    line-height: 23px;
}
.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item .entry-item {
    margin-right: 0px;
}
.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item .entry-item .entry-title {
    font-size: 13px;
    line-height: 18px;
    /* text-transform: uppercase; */
    margin: 0;
    min-height: 60px;
    font-weight: 500;
}

.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(2) .entry-item {
    margin-right: 0px;
}

.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(4) .entry-item {
    margin-right: 0px;
}

.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item:nth-child(6) .entry-item {
    margin-right: 0px;
}
.top-story {
    margin-bottom: 30px;
    /* padding-bottom: 15px; */
    background-color: #f9f9f9;
    border: 1px solid #ededed;
    margin-top: 0px;
}

.related-stories_home {
    margin: 0px 0 0!important;
}

.on-air {
    margin-bottom: 0px;
}

.ed-ch .geo-hotnews-widget .geo-hotnews-carousel{
  padding-top: 10px;
}

.ed-ch {
    margin-bottom: 10px;
}

.pakistan-post li:last-child{
  margin-bottom: 0;
}

.cat {
    margin-bottom: 30px;
}

.edi_choi-container-1 ul {
    padding: 15px 0 20px;
}

.third_section_home #geo_widget_post_carousel_3-2.widget{
  margin-bottom: 0px;
}

.fifth_section_home .ed-ch{
  margin-top: 0;
}
.geo-tab-container-1 {
    position: relative;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 30px;
}
.ed-ch .geo-hotnews-widget .geo-hotnews-carousel .top-story-owl-item .entry-item .entry-title {
    font-size: 13px;
    line-height: 18px;
    /* text-transform: uppercase; */
    margin: 0;
    min-height: 90px;
}

.geo-article-list-2-widget .last-item .entry-content .entry-title{
  min-height: auto;
}
.inner_cat_tab .tab-content .entry-thumb {
    width: 100%;
    margin-right: 0;
	padding:0 3%;
}
.inner_cat_tab .tab-content .entry-content {
   float: left;
    width: 100%;
	padding:0 3%;
}
.geo-daily-widget .geo-daily-carousel .owl-controls .owl-buttons div {
    display: block;
    margin-top: -390px;
    position: relative;
    margin-left: -21px;
}
.geoCatDiv{
	width:100%;
	float:left;
	margin: 0 0 20px 0 !important;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.catPageRow{
	margin-top:0 !important;
}
.rss-list-cat {
    padding: 10px;
    float: left;
    width: 100%;
}
.rss-list {
    padding: 10px;
    border-bottom: 0;
    position: absolute;
    top: 85px;
}
.rss-list-cat ul li {
    line-height: 42px;
    border-bottom: none;
}
.rss-list ul li {
    line-height: 40px;
    border-bottom: 1px solid #5F5F5F;
}

  .writter_pic {
    float: left;
    width: 100%;
  }

  .prayerTimeBlock .titleHead .label:first-child {
    text-align: left;
    width: 20%;
  }

  .prayerTimeBlock .titleHead .label {
    font-size: 14px;
    width: 16%;
  }

  .prayerTimeBlock .titleHead .label:nth-child(3),.prayerTimeBlock .prayer_timing_body .singleblock .prayertime:nth-child(3) {
    display: none;
  }

  .prayerTimeBlock .prayer_timing_body .cityname {
    width: 20%;
    font-size: 13px;
  }

  .prayerTimeBlock .prayer_timing_body .prayertime {
    width: 16%;
    font-size: 13px;
  }
}
@media screen and (max-width: 320px) {

  .geo-article-list-2-widget .last-item .entry-content .entry-title{
    min-height: auto;
  }
.wrapper {
    width: 280px;
}
.sb-search-wrapper {
    width: 280px;

}
.new_block_category {
    width: 100%;
    margin-bottom: 50px;
    float: left;
    padding-left: 15px;
	padding-right:15px;
}
#geo_widget_post_carousel_3-2{
	padding-left:15px;
	padding-right:15px;
}
.top-story {
    margin-bottom: 30px;
    /* padding-bottom: 15px; */
    background-color: #f9f9f9;
    border: 1px solid #ededed;
    margin-top: -40px;
}
.pakistan-post .entry-thumb {
    width: 77px;
    margin-right: 5px;
}
.pakistan-post .entry-content {
    float: left;
    width: 68%;
}
}
